header {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
}

#menu-list {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: flex-end;
    display: flex;
    margin-right: 20px;
}

.menu-item {
    color: bisque;
}


nav {

    padding: 13px;
    align-items: center;
    grid-template-columns: auto 1fr;
    place-items: center;
}


#menu-toggle {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
    left: 10px;
    z-index: 10;
    cursor: pointer;
}

.icone-contact img {
    padding: 20px;
    width: 30px;
}


nav ul li a:hover {
    color: rgb(216, 173, 121);
}


.nav-toggle-item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px auto;
    position: absolute;
    transition: all 02s ease;
    border-radius: 0.1px;
    opacity: 1;
    z-index: 10;
    top: 0;
    left: 0
}

.nav-toggle-item:nth-child(1) {
    top: 0;
}

.nav-toggle-item:nth-child(2) {
    top: 8px;
}

.nav-toggle-item:nth-child(3) {
    top: 16px;
}

#menu-toggle.expanded .nav-toggle-item:nth-child(2) {
    opacity: 0;
}

#menu-toggle.expanded .nav-toggle-item:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#menu-toggle.expanded .nav-toggle-item:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#menu-list.expanded {

    place-items: center;
    display: grid;
}

.active {
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    #menu-toggle {
        display: none;
    }
nav{
    justify-content: ;

}
    .logo {
      
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;

    }

    #menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
}