@import url("css/header.css");
@import url("css/about.css");
@import url("css/code.css");
@import url("css/contact.css");
@import url("css/design.css");
@import url("css/marketing.css");
@import url("css/redirection-code.css");
@import url("css/web-design-redirection.css");
.presentation {
    gap: 4px;
    display: flex;
}


* {
    margin: 0;
    padding: 0;
}

.bouton {
    gap: 1px;
    display: grid;
}

h1 {
    color: rgb(255, 255, 255);
    padding-bottom: 20
}


h2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


.article1 {
    width: 300px;
}


.article2 {
    width: 300px;
}

.article3 {
    width: 300px;
}

.article4 {
    width: 300px;
}

.article {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
}

main {
    display: grid;
    place-items: center;
    padding-top: 13px;
}

.en-savoir-plus {
    height: 10x;
    width: 200px;
    padding: 10px;
    gap: 15px;
    border-radius: 100px;
}

body {
    background-color: rgba(0, 0, 0, 0.877);
}

p {
    color: aliceblue;
}

.design {
    padding-top: 16px;
    align-items: center;

}

.titre {
    display: block;
    text-align: center;
}

.Marketing-presentation {
    padding-top: 13px;
}

.formulaire {
    color: white;
    display: grid;

}

.contact-image {
    padding: 20px;
    display: flex;
    gap: 13px;
}

.texte-contact {
    padding: 20px;
}

.icone-contact img {
    padding: 20px;
    gap: 13px;
    height: 50px;
    width: 50px;
}

.Marketing-presentation {
    padding-top: 13px;

}

.image-marketing {
    display: flex;
    gap: 13px;
}

.Swot {
    width: 40%;
    justify-content: center;
    padding-bottom: 13px;
}


.titre-swot {
    font-size: 29px;
    padding: 20px;
}

.conclusion {
    padding: 13px;
    display: contents
}

.présentation-design {
    padding: 13px;
    display: flex;
    flex-direction: column;
}

.galerie-design {
    padding: 13px;
    display: flex;
    gap: 13px;
   
}

.galerie-web-design {
    padding: 13px;
    display: flex;
    gap: 13px;

}

.présentation-design {
    align-items: center;
    padding: 13px;
}

.galerie-web {
     padding: 13px;
     display: flex;
    flex-direction: column-reverse ;
    gap: 13px;
}
.présentation {
    justify-content: center;
}

.logo-réseaux-sociaux {
    padding: 13px;
    gap: 13px;
}

.en-savoir-plus{
    justify-content: center;
    display: flex;
}

.btn-en-svoir-plus {
    justify-content: center;
    gap: 13px;
}

.design-redirection.html{
    align-items: center; 
}

.présentation-web{
    display: flex;
}


  .cartes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .carte {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:darkgrey ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
